Package: org.wuffs.flickplus
Name: FlicksForAll
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0)
Version: 0.2.2
Architecture: iphoneos-arm
Description: iPad-like key flicks on iPhone
Maintainer: Ninji <ninji@wuffs.org>
Author: Ninji <ninji@wuffs.org>
Section: Tweaks
